body {
    font-family: 'Monospace', 'Lucida Console', !important;
}

.color{
    background: rgb(21,25,29);
}

.logo {
    height: 100%;
    width: 15%;
}

.btnLogo {
    height: 100%;
    width: 50%;
}
  