body {
    font-family: 'Monospace', 'Lucida Console', !important;
}

.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}

.color{
    background: rgb(21,25,29);
}

.logo {
    height: 100%;
    width: 15%;
}

.btnLogo {
    height: 100%;
    width: 50%;
}

.home{ 
	position:fixed; 
	top: 5px;; 
	left: 10px; 
    height : 20%;
    width: auto;
}